@import '../../responsive.scss';

.profilePage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
    }


    .details{
        flex: 3;
        padding-bottom: 50px;
        overflow-y: scroll;

        @include md{
            flex:none;
        }

        .wrapper{
            padding-right: 50px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            


            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                

                h1{
                    font-weight: 300;
                }

                button{
                    padding: 12px 24px;
                    background-color: #fece51;
                    cursor: pointer;
                    border: none;
                    font-weight: 500;
                    border-radius: 5px;
                }
            }
    
            .info{
                display: flex;
                flex-direction: column;
                gap: 20px;

                span{
                    align-items: center;
                    display: flex;
                    gap: 40px;
                }

                img{
                    width: 40px;
                    height: 40px;border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

    }


    .chatContainer{
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            flex:none;
        }

        .wrapper{
            padding: 0px 20px;
            height: 100%;
        }
    }

}